[package]
name = "ada-url"
authors = ["Yagiz Nizipli <yagiz@nizipli.com>", "Daniel Lemire <daniel@lemire.me>", "LongYinan <github@lyn.one>"]
version = "0.1.0"
edition = "2021"
description = "Fast WHATWG Compliant URL parser"
readme = "README.md"
repository = "https://github.com/ada-url/rust"
license = "MIT OR Apache-2.0"
include = ["src/**/*", "LICENSE-*", "README.md", "tests/**", "deps/**"]
exclude = [".github"]

[[bench]]
name = "parse"
path = "bench/parse.rs"
harness = false

[features]
# pass `cpp_set_stdlib("c++")` to `cc`
libcpp = []

[dependencies]
thiserror = "1"

[dev-dependencies]
criterion = "0.4"
url = "2" # Used by benchmarks

[build-dependencies]
cc = { version = "1.0", features = ["parallel"] }
link_args = "0.6"
